.flex-column {
  flex-direction: column; }

.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/17499.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px; }

.center-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.form-input {
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid white; }

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(29, 29, 29, 0.7);
  padding: 50px;
  border-radius: 20px;
  align-items: center; }
  .form-wrapper input {
    width: 100%; }

.login-button {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-top: 60px;
  background: white;
  color: black;
  box-shadow: 2px 11px 35px black;
  font-size: 15px;
  text-transform: uppercase;
  width: 60%; }

.primary-button {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-top: 60px;
  background: white;
  color: black;
  box-shadow: 2px 11px 35px black;
  font-size: 15px;
  text-transform: uppercase;
  width: 60%; }

.top-bar {
  width: calc(100% - 210px);
  height: 50px;
  background-color: #fbfcfc;
  float: right;
  position: relative;
  /*padding-right: 25px;*/
  box-sizing: border-box; }
  .top-bar input[type=text] {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 60px;
    font-size: 14px;
    background-color: #fbfcfc;
    color: #546e7a; }
  .top-bar input[type=text]:focus {
    border: 1px solid #9ddb18; }
  .top-bar input::placeholder {
    color: #90a4ae; }
  .top-bar .search-icon {
    position: absolute;
    left: 25px;
    top: 12px; }
  .top-bar .alert-wrapper {
    float: right;
    position: absolute;
    right: 25px;
    top: 15px;
    margin-left: 30px; }
    .top-bar .alert-wrapper .notifications {
      display: inline-block;
      position: relative;
      cursor: pointer; }
    .top-bar .alert-wrapper .bullet {
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: #f44336;
      position: absolute;
      top: 0;
      right: 2px; }
    .top-bar .alert-wrapper .messages {
      display: inline-block;
      margin-left: 25px;
      cursor: pointer; }

.ship-form-wrapper {
  width: calc( 100% - 296px); }

.sidebar-container {
  width: 296px;
  height: 100vh;
  background-color: #1D1D1D;
  box-shadow: 0 3px 18px 0 rgba(66, 103, 127, 0.26);
  display: inline-block;
  padding: 30px 15px 30px 40px;
  z-index: 99;
  float: left; }
  .sidebar-container .sidebar-logo {
    width: 47px;
    height: 57px; }
  .sidebar-container .profile {
    height: 205px;
    /*background-color: grey;*/
    padding-top: 20px;
    box-sizing: border-box; }
  .sidebar-container .profile-img {
    height: 75px;
    width: 75px;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    background-color: #f1f3f4; }
    .sidebar-container .profile-img img {
      border-radius: 50%;
      width: 100%;
      height: auto; }
  .sidebar-container .dashboard img {
    margin-top: 0; }
  .sidebar-container .user-name {
    text-align: center;
    margin-bottom: 3px; }
  .sidebar-container .user-specialization {
    font-size: 14px;
    color: #9ba8ae;
    text-align: center;
    margin-bottom: 15px; }
  .sidebar-container .view-profile {
    margin-left: 38px; }
  .sidebar-container .menu html {
    background-color: #f1f3f4; }
  .sidebar-container .menu h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .sidebar-container .menu h3 {
    font-size: 30px;
    font-weight: bolder; }
  .sidebar-container .menu p {
    font-size: 14px; }
  .sidebar-container .menu ul {
    margin-top: 25px; }
  .sidebar-container .menu li {
    height: 40px;
    list-style-type: none;
    border-radius: 35px;
    align-content: center;
    align-items: center;
    display: flex;
    line-height: 35px;
    cursor: pointer;
    color: #7c8e96; }
    .sidebar-container .menu li a {
      color: #fefefe;
      font-family: Montserrat-thin;
      font-size: 22px;
      font-weight: 400; }
  .sidebar-container .menu span {
    font-size: 18px;
    font-weight: bolder; }
  .sidebar-container .menu .menu img {
    /*margin-top: 5px;*/
    margin-right: 15px;
    float: left; }
  .sidebar-container .menu .menu a {
    color: #90a4ae;
    text-decoration: none; }
  .sidebar-container .menu .menu a:hover {
    text-decoration: none; }
  .sidebar-container .menu .active {
    background-color: #eef0f1; }
  .sidebar-container .view-btn {
    background-color: #9ddb18;
    height: 25px;
    line-height: 25px;
    border-radius: 15px;
    padding: 0 35px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 12px;
    box-shadow: 0 3px 13px 0 rgba(123, 181, 0, 0.2);
    cursor: pointer; }
  .sidebar-container .view-btn:hover {
    background-color: #90cd18; }
  .sidebar-container .sidebar-container {
    width: 210px;
    height: 100vh;
    background-color: #1D1D1D;
    box-shadow: 0px 3px 18px 0px rgba(66, 103, 127, 0.26);
    position: relative;
    display: inline-block;
    z-index: 99; }
  .sidebar-container .profile {
    height: 205px;
    padding-top: 20px;
    box-sizing: border-box; }
  .sidebar-container .profile-img {
    height: 75px;
    width: 75px;
    margin: 0 auto 10px auto;
    border-radius: 100%;
    background-color: #f1f3f4; }
  .sidebar-container .user-name {
    text-align: center;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bold; }
  .sidebar-container .user-specialization {
    font-size: 14px;
    color: #9ba8ae;
    text-align: center;
    margin-bottom: 15px; }
  .sidebar-container .view-profile {
    margin-left: 38px; }
  .sidebar-container .map-btn {
    font-size: 13px;
    text-align: center;
    background-color: #32aeea;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    color: white;
    cursor: pointer; }
    .sidebar-container .map-btn a {
      color: white;
      cursor: pointer;
      text-decoration: none;
      text-underline: none; }
  .sidebar-container .map-btn:hover {
    background-color: #26a3ea; }
  .sidebar-container .sidebar-footer {
    position: absolute;
    bottom: 30px; }
  .sidebar-container .sidebar-footer div {
    float: left;
    height: 55px;
    width: 105px;
    box-sizing: border-box;
    cursor: pointer; }
  .sidebar-container .settings {
    padding: 17px 40px; }
  .sidebar-container .sign-out {
    padding: 20px 40px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #546e7a; }

html {
  background-color: #f1f3f4; }

.main-container {
  display: flex;
  flex-direction: row; }
