@import "../colors.scss";

.login-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/17499.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid white;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(29, 29, 29, 0.7);
  padding: 50px;
  border-radius: 20px;
  align-items: center;

  input {
    width: 100%;
  }
}

.login-button {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 30px;
  margin-top: 60px;
  background: white;
  color: black;
  box-shadow: 2px 11px 35px black;
  font-size: 15px;
  text-transform: uppercase;
  width: 60%;
}