.sidenav {
  display: flex;
  /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #1D1D1D; }
  .sidenav .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none; }
  .sidenav .add-button-wrapper {
    padding: 20px 15px; }
  .sidenav .sidenav__list-item {
    padding: 20px 15px 15px 30px; }
    .sidenav .sidenav__list-item a {
      color: white;
      text-decoration: none;
      text-underline: none;
      font-size: 15px; }
  .sidenav .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer; }
  .sidenav .sidebar-logo {
    padding: 20px 15px; }
    .sidenav .sidebar-logo img {
      width: 47px;
      height: 57px; }
  .sidenav .sidebar-footer {
    position: absolute;
    bottom: 30px; }
  .sidenav .sidebar-footer div {
    float: left;
    height: 55px;
    width: 105px;
    box-sizing: border-box;
    cursor: pointer; }
  .sidenav .settings {
    padding: 17px 40px; }
  .sidenav .sign-out {
    padding: 20px 40px; }
