.top-bar {
  width: calc(100% - 210px);
  height: 50px;
  background-color: #fbfcfc;
  float: right;
  position: relative;
  /*padding-right: 25px;*/
  box-sizing: border-box;

  input[type=text] {
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 60px;
    font-size: 14px;
    background-color: #fbfcfc;
    color: #546e7a;
  }

  input[type=text]:focus {
    border: 1px solid #9ddb18;
  }

  input::placeholder {
    color: #90a4ae;
  }

  .search-icon {
    position: absolute;
    left: 25px;
    top: 12px;
  }

  .alert-wrapper {
    float: right;
    position: absolute;
    right: 25px;
    top: 15px;
    margin-left: 30px;

    .notifications {
      display: inline-block;
      position: relative;
      cursor: pointer;

    }

    .bullet {
      height: 8px;
      width: 8px;
      border-radius: 100%;
      background-color: #f44336;
      position: absolute;
      top: 0;
      right: 2px;
    }

    .messages {
      display: inline-block;
      margin-left: 25px;
      cursor: pointer;
    }
  }
}